@{
    ViewData["Title"] = "Wypożyczalnia";
}

<div class="jumbotron">
    <ul>
        <h4>
            Przykładowa aplikacja sieciowa napisana na zaliczenie przedmiotu w środowisku ASP.NET CORE 2 z wykorzystaniem srodowiska programistycznego Visual Studio 2017 oraz
            bazy danych MSSQL.
        </h4>
    </ul>

</div><div class="jumbotron">

    <h2>&nbsp;&nbsp;&nbsp; Główne funkcjonalnośici aplikacji.</h2>
    <ul>
        <li>konta użytkoników z mechanizmem autoryzacji</li>
        <li>różne widoki dla administratora oraz endusera</li>
        <li>baza samochodów dla poszczególnych użytkownikó</li>
        <li>baza napraw dla poszczególnych samochodó</li>
        <li>operacje typu CRUD na poszczególnych rekordach występujących w bazie</li>
    </ul>
    </ul>

</div>
 <div class="jumbotron">

    <h2>&nbsp;&nbsp;&nbsp; Sposób logowania się:</h2>
    <ul>
       
        <li>operacje typu CRUD na poszczególnych rekordach występujących w bazie</li>
    </ul>
    </ul>

</div>